<?xml version='1.0' encoding='windows-1252'?>

<?if $(var.Platform) = x64 ?>
<?define Win64 = "yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
<?define Win64 = "no" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

	<Product Id='*' Name='Blackhole' UpgradeCode='E04A54F8-7D00-44C8-973A-8258F273A41E' Manufacturer='William Venner' Language='1033' Codepage='1252' Version='$(var.Version)'>

		<Package Id='*' Keywords='Installer' Description='Blackhole' Manufacturer='William Venner' InstallerVersion='450' Languages='1033' Compressed='yes' InstallScope='perMachine' SummaryCodepage='1252' Platform='$(var.Platform)'/>

		<MajorUpgrade Schedule='afterInstallInitialize' DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

		<Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
		<Property Id='DiskPrompt' Value='Blackhole Installation'/>

		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
				<Directory Id='APPLICATIONFOLDER' Name='Blackhole'>
					<Component Id='License' Guid='*' Win64='$(var.Win64)'>
						<File Id='LicenseFile' Name='License.rtf' DiskId='1' Source='wix\License.rtf' KeyPath='yes'/>
					</Component>

					<Component Id='binary0' Guid='*' Win64='$(var.Win64)'>
						<File Id='exe0' Name='blackhole.exe' DiskId='1' Source='target\$(var.Profile)\blackhole.exe' KeyPath='yes'/>
					</Component>

					<Component Id='startup' Guid='*' Win64='$(var.Win64)'>
						<RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="Blackhole" Value='"[APPLICATIONFOLDER]blackhole.exe" --purge' Type="string" KeyPath="yes" Action="write"/>
					</Component>
				</Directory>
			</Directory>
     		<Directory Id="SendToFolder" />
		</Directory>

		<DirectoryRef Id="SendToFolder">
			<Component Id="ApplicationSendToShortcut" Guid="13FF38CE-787D-46A6-A2D3-06C7B5663A88">
				<Shortcut Id="ApplicationSendToShortcut"
					Name="BLACKHOLE"
					Description="Sends the file or folder to your Blackhole"
					Target="[APPLICATIONFOLDER]blackhole.exe"
					Arguments="--send"
					WorkingDirectory="APPLICATIONFOLDER"
					Show="minimized"
				/>
				<RegistryValue Root="HKCU" Key="Software\Blackhole" Name="SendToInstalled" Type="integer" Value="1" KeyPath="yes"/>
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
			</Component>
		</DirectoryRef>

		<Feature Id='Binaries' Title='Application' Description='Installs all binaries and the license.' Level='1' ConfigurableDirectory='APPLICATIONFOLDER' AllowAdvertise='no' Display='expand' Absent='disallow'>
			<ComponentRef Id='License'/>

			<ComponentRef Id='binary0'/>
		</Feature>

		<Feature Id='StartupReg' Title='Purge on Startup' Description='Purges the BLACKHOLE directory when the computer starts up.' Level='1' AllowAdvertise='no' Display='expand' Absent='disallow'>
			<ComponentRef Id='startup'/>
		</Feature>

		<Feature Id='ApplicationSendToShortcut' Title='Add Blackhole to "Send To"' Description='Adds "Blackhole" option to the "Send To" menu, which moves them to the BLACKHOLE.' Level='1' AllowAdvertise='no' Display='expand' Absent='allow'>
			<ComponentRef Id='ApplicationSendToShortcut'/>
		</Feature>

		<SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

		<Icon Id='ProductICO' SourceFile='assets\blackhole.ico'/>
		<Property Id='ARPPRODUCTICON' Value='ProductICO' />

		<Property Id='ARPHELPLINK' Value='https://github.com/WilliamVenner/blackhole'/>

		<UI>
			<UIRef Id='WixUI_FeatureTree'/>
		</UI>

		<WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>

		<WixVariable Id='WixUIBannerBmp' Value='assets\msi-banner.bmp'/>

		<WixVariable Id='WixUIDialogBmp' Value='assets\msi.bmp'/>

		<CustomAction Id="EXECUTE_AFTER_FINALIZE" Execute="immediate" Impersonate="yes" Return="asyncNoWait" FileKey="exe0" ExeCommand="" />

		<InstallExecuteSequence>
			<Custom Action="EXECUTE_AFTER_FINALIZE" After="InstallFinalize">NOT Installed</Custom>
		</InstallExecuteSequence>

	</Product>

</Wix>